<h1>Listing coins</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coins.each do |coin| %>
  <tr>
    <td><%= coin.value %>&cent;</td>
    <td><%= coin.name %></td>
    <td><%= link_to 'Show', coin %></td>
    <td><%= link_to 'Edit', edit_coin_path(coin) %></td>
    <td><%= link_to 'Destroy', coin, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coin', new_coin_path %>
